<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659600110843-af4qm7o7id7jrh9dp0ka682146h4a7vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659600110843-af4qm7o7id7jrh9dp0ka682146h4a7vd</string>
	<key>API_KEY</key>
	<string>AIzaSyCHXKV0b6HGWW0oBDjJ0QLqbmyZ7d7D0h4</string>
	<key>GCM_SENDER_ID</key>
	<string>659600110843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.DoroffM-FinalProject</string>
	<key>PROJECT_ID</key>
	<string>csc491final</string>
	<key>STORAGE_BUCKET</key>
	<string>csc491final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659600110843:ios:1d4ae8cbd6fe8f6bdeec5e</string>
</dict>
</plist>